// Specific CSS for your home-page
.content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  margin-right: 20px; /* Optional: Add space between content and edge of screen */
  text-align: center;
}

a {
  color: #2b5f70;
  text-decoration: none !important; /* important because it was overriding by bootstrap */
}

h2 {
  color: #2b5f70;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100%;
  background-color: #d2c8bc !important;
}
.header{
text-align: center;
padding: 20px;
}

h1 {
  color: #0d4255;
  font-weight: 900;
  font-style: normal;
  font-size: 1.5rem;
  }
h3 {
  color: #0d4255;
}

p {
  color: #0d4255;
}

  html, body {
    height: 100%; /* Ensure body takes full height of the viewport */
    margin: 0;    /* Remove default margin */
  }

  h1, h2, h3 {
    font-family: 'Pacifico', cursive; /* or any other font you prefer */
  }
