<div class=" footer">
  <p class="mb-0">&copy; <%= year %> SurfEasy. All Rights Reserved.</p>
  <div>
    <a href="#" class="me-3">About Us</a>
    <a href="#" class="me-3">Contact Us</a>
    <a href="#">Privacy Policy</a>
  </div>
</div>
