<!-- app/views/shared/_footer.html.erb -->
<div class="container">
  <footer>
  <p>&copy; <%= year %> SurfEasy. All Rights Reserved.</p>
  <%# <nav>
    <a href=“/about”>About Us</a> |
    <a href=“/contact”>Contact</a> |
    <a href=“/privacy-policy”>Privacy Policy</a>
  </nav> %>
</footer>
</div>
