<div class="container text-center">
  <h1>Welcome to SurfEasy</h1>
  <p>Discover the ultimate surfing experience with our innovative surfboards.</p>
  <%= link_to "ENTER SURFBOARD EXPERIENCE NOW", surfboards_path , class: "btn btn-primary" %>
</div>
