<div class="landing-page">
  <div class="content">
    <h1>Welcome to SurfEasy</h1>
    <p>Discover the ultimate surfing experience with our innovative surfboards.</p>
    <%= link_to "ENTER SURFBOARD EXPERIENCE NOW", surfboards_path , class: "btn-surfboard" %>
  </div>
</div>
