
.footer {
  background: #d2c8bc;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  position: relative;
  bottom: 0;
    a {
      color: #0d4255;
    }
    a:hover {
      color: #5b828e;
    }
    p {
      color: #0d4255;
    }
}
